.unselectable {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}
:host {
  display: block;
  --iron-icon-fill-color: var(--primary-color);
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}
.bold {
  font-weight: bold;
}
section {
  margin-bottom: 1.8em;
}
.my-card {
  @apply (--layout-horizontal);
}
.my-card > :nth-child(1) {
  @apply (--layout-flex);
}
.my-card > :nth-child(2) {
  @apply (--layout-flex-0);
}
.my-card > div:nth-child(1) > h1 {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}
.my-card > div:nth-child(1) > div {
  font-size: 1.2em;
}
.my-card.balance > div:nth-child(1) > div {
  color: var(--primary-color);
}
.my-card.balance super {
  font-size: 0.6em;
}
paper-input {
  color: var(--light-primary-color);
}
paper-input div[prefix] {
  padding-right: 5px;
}
.center {
  @apply (--layout-horizontal);
  @apply (--layout-center);
}
.transfer {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}
.color--brand-primary {
  color: var(--primary-color);
}
.color--light-primary {
  color: var(--light-primary-color);
}
paper-button[primary] {
  color: var(--primary-background-color);
  background: var(--primary-color);
}
simple-dialog {
  width: 80%;
}
.addressContent {
  @apply (--layout);
  width: 200px;
  margin: 8px;
}
@media (max-width: 800px) {
  .addressContainer {
    width: calc(34%);
  }
}
@media (max-width: 400px) {
  .addressContainer {
    width: 100%;
  }
}
